[submodule "lib/Plank"]
	path = lib/Plank
	url = http://github.com/SpenserJ/Plank.git
[submodule "lib/ActiveRecord"]
	path = lib/ActiveRecord
	url = http://github.com/kla/php-activerecord.git
[submodule "lib/phpass"]
	path = lib/phpass
	url = https://github.com/RyanGWU82/phpass.git
